@color-white: #ffffff;
@color-nude: #eeeae1;
@color-black: #000000;

@button-primary-color: #1a1f2d;

@page-color: #293047;
@page-background: @color-white;
@page-background-dark: #201d1d;

@button-dark: #1a1f2d;
@button-light: #fff;
@button-font: "Lato";

@breakpoint-desktop: 960px;


